/* Navbar */
@media only screen and (max-width: 767px) {
    .navbar-nav{
        background-color: rgb(248,249,250);
        border: 5px solid rgb(248,249,250);
        border-radius: 3px;
    }
    .navbar-nav .nav-link{
        border-bottom: 1px solid lightslategray;
        font-weight: 600;
        padding-left: 5px;
    }
}
.navbar-nav .nav-item{
    padding-right: 15px !important;
}
.navbar-nav .nav-link{
    color: black;
    border-bottom: solid 1px transparent;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: rgb(13, 110, 253);
    border-bottom: solid 1px rgb(13, 110, 253);
}
.navbar-scrolled{
    background-color: rgba(248, 249, 250, 0.8);
}
.navbar-toggler{
    border: none;
    color: transparent;
}
/* Banner */
.banner-btn{
    background-color: black;
    border: solid black 1px;
    border-radius: 1px;
    color: white;
}
.banner-btn:hover{
    border: solid black 1px;
    border-radius: 1px;
}
.banner-title{
    font-size: 3.5rem;
}
.banner-secondary-btn{
    background-color: white;
    border: solid black 1px;
    border-radius: 1px;
    margin-left: 15px;
}
.banner-secondary-btn:hover{
    background-color: black;
    border: solid black 1px;
    border-radius: 1px;
    color: white;
}
.banner-left{
    margin-top: 20vh;
}
.banner-right{
    background-image: url('/img/presentation2.jpg');
    background-size: cover;
    border-radius: 0.3rem;
    height: 100vh;
}
#bannerImg{
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}
@media only screen and (max-width: 767px) {
    .banner-left{
        margin-top:5vh;
    }
    .banner-right{
        display: none;
    }
}
/* Projects */
.projects-border{
    border-left:solid 1px #D3D3D3;
}
.projects-btn {
    border: solid 1px #5C5C5C;
    background-color: transparent;
    margin: 5px;
    max-width: 400px;
    width: 200px;
    padding: 5px;
    overflow: auto;
    text-align: center;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.projects-btn:hover{
    background-color: black;
    color: white;
}
.projects-title{
    align-items: center;
    display:flex;
    justify-content: center;
}
.projects-title-secondary{
    color:#A9A9A9;
    text-align:right;
}
/* Spinner */
.spinner-custom {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
}
/* Tech Stack */
.stack-icon-box{
    border: solid transparent 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    width: 85px;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
.stack-icon-box:hover{
    background-color: rgb(248,249,250) !important;
    box-shadow: 5px 5px 40px 5px #999;
    color: black;
    transition: box-shadow 0.5s ease-in-out, color 0.3s ease-in-out;
}
.stack-row{
    display: flex;
    justify-content: center;
}

/* Contact */
.btn-contact{
    border-radius: 1px;
    width: 120px;
}