/* Banner */
.banner-left{
    margin-top: 20vh;
}
.banner-right{
    background-image: url('/img/presentation2.jpg');
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .banner-left{
        margin-top:5vh;
    }
    .banner-right{
        display: none;
    }
}
/* Tech Stack */
.stack-icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}
.stack-row{
    display: flex;
    justify-content: center;
}