/* Navbar */
@media only screen and (max-width: 767px) {
    .navbar-nav{
        background-color: rgb(248,249,250);
        border: 5px solid rgb(248,249,250);
        border-radius: 3px;
    }
    .navbar-nav .nav-link{
        border-bottom: 1px solid lightslategray;
        font-weight: 600;
        padding-left: 5px;
    }
}
.navbar-nav .nav-link{
    color: black;
}
.navbar-nav .nav-item{
    padding-right: 15px !important;
}
.navbar-nav .nav-link:hover {
    color: rgb(13, 110, 253);
}
.navbar-scrolled{
    background-color: rgba(248, 249, 250, 0.8);
}
.navbar-toggler{
    border: none;
    color: transparent;
}
/* Banner */
.banner-btn{
    background-color: black;
    border: solid black 1px;
    border-radius: 1px;
    color: white;
}
.banner-btn:hover{
    border: solid black 1px;
    border-radius: 1px;
}
.banner-secondary-btn{
    background-color: white;
    border: solid black 1px;
    border-radius: 1px;
}
.banner-secondary-btn:hover{
    background-color: black;
    border: solid black 1px;
    border-radius: 1px;
    color: white;
}
.banner-left{
    margin-top: 20vh;
}
.banner-right{
    background-image: url('/img/presentation2.jpg');
    background-size: cover;
    border-radius: 0.5rem;
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .banner-left{
        margin-top:5vh;
    }
    .banner-right{
        display: none;
    }
}
/* Tech Stack */
.stack-icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}
.stack-row{
    display: flex;
    justify-content: center;
}

/* Contact */
.btn-contact{
    border-radius: 1px;
    width: 120px;
}